.Dropdown {
    display: flex;
    flex-direction: column;
}
.Dropdown__label {
    display: flex;
    justify-content: space-between;
    background-color: #ff6060;
    color: white;
    width: 100%;
    padding: 13px 20px;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 10;
    font-size: 18px;
    text-align: center;
}

.Dropdown__list {
    top: 30px;
    width: 100%;
    background-color:#f6f6f6;
    margin-top: -20px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    border-radius: 10px;
    height: 100%;
}
.banner2 {
    width: 100%;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
}

.banner2__img {
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}