.error {
    text-align: center;
    height: 65vh;
}
.error__title {
    font-size: 288px;
    font-weight: 700;
}

.error__subtitle  {
    font-weight: 500;
    font-size: 36px;
    margin: auto;
}

.error__backLink {
    display: block;
    font-weight: 500;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 61px;
}

@media screen and (max-width: 880px) {
    .error__title{
        font-size: 96px;
        line-height: 142.6%;
        margin-top: 5rem;
    }

    .error__subtitle {
        font-size: 18px;
    }

    .error__backLink {
        font-size: 14px;
    }
}