.header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.header h6 {
    color: #ff6060;
    font-size: 24px;
    margin-left: 57px;
    padding-top: 25px;
    
}
.header__link:active {
    text-decoration: underline #ff6060;
}

.header__link::after{
    text-decoration: underline;
}
.header__navlink--active {
    text-decoration: underline;
}

a{
    text-decoration: none;
}
.header__logo {
      flex-grow: 2;
      margin-bottom: 40px;
}
.header__logo >img {
    width: 200px;
}
li {
    list-style-type: none;
}

@media screen and (max-width: 880px) {
    .header {
      margin-left: 20px;
      margin-right: 20px;
    }
    .header h6 {
        font-size: 12px;
        margin-left: 20px;
        text-transform: uppercase;
        padding-top: 0;
      }
      .header__logo >img {
        width: 90px;
        margin-top: -9px;
      }
    
}