body {
    /* font-family: 'Montserrat', Arial, Helvetica, sans-serif; */
    width: 100%;
    height: 100vh;
    font-size: 18px;
}
main {
    margin-left: 100px;
    margin-right: 100px;
  
 }

 * {
    box-sizing: border-box;
    margin: 0;
 }
 ul {
    padding: 0;
 }

h2,
h3,
p,
div {
   color: #ff6060
}